fastapi
uvicorn
pydantic
python-dotenv
requests
pika
pdf2image
pytesseract
python-multipart
pdfplumber
Pillow
pymupdf
rapidocr-onnxruntime
opencv-python-headless
boto3
openai
python-docx
reportlab
